//// CONTENT MODULE LAYOUT

.blog-module {
	h3 {
		color: $brand-secondary;
		margin: 0 0 $padding-v-s;
		text-align: left;
	}
	&__content {
		padding-bottom: $padding-v-m;
		&-inner {
			.btn {
				margin: 0 5px;
			}
		}
	}
}



//// CATEGORY VIEWS
.blog-module {
	/// CATEGORY
	/// CATEGORY LIST
	&__list {
		
	}
	/// CATEGORY LIST ITEM
	&__item {
		margin-bottom: $padding-v-m;
		&-image {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 15px;
			padding-top: 43%;
			position: relative;
			a {
				cursor: hand;
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				display: flex;
				.blog-module__item-image_inner {
					align-items: center;
					background-color: rgba($brand-primary, 0);
					display: flex;
					justify-content: center;
					transition: 0.3s ease all;
					width: 100%;
					span.read-more {
						border: 1px solid transparent;
						color: transparent;
						padding: 8px 16px;
						text-decoration: none;
						transform: scale(0.7);
						transition: 0.6s ease all;
					}
				}
				&:hover {
					text-decoration: none;
					.blog-module__item-image_inner {
						background-color: rgba($brand-primary, 0.5);
						span.read-more {
							border: 1px solid $white;
							color: $white;
							transform: scale(1);
							text-decoration: none;
						}
					}
				}
			}
		}
		&-header {
			h3 {
				@include rem(font-size, 18);
				line-height: 1.2em;
				a {
					transition: 0.3s ease all;
					&:hover {
						color: darken($brand-primary, 20%);
						text-decoration: none;
					}
				}
			}
			&_info {
				border-top: 1px solid lighten($brand-primary, 40%);
				border-bottom: 1px solid lighten($brand-primary, 40%);
				color: $background-light;
				@include rem(font-size, 12);
				line-height: 1;
				margin-top: 0.1em;
				margin-bottom: 0.5em;
				padding-top: 0.4em;
				padding-bottom: 0.2em;
				text-transform: uppercase;
			}
		}
		&-intro {
			h2 {
				@include rem(font-size, 18);
				color: $brand-primary;
			}
			h3 {
				@include rem(font-size, 16);
				color: $brand-secondary;
			}
		}
		&-actions {
			&_tags {
				@include rem(font-size, 13);
				span {
					white-space: nowrap;
					a {
						color: $background-light;
						transition: 0.3s ease all;
						&:hover {
							color: $brand-secondary;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}




//// PROJECT SPECIFIC STYLES
.blog-module {
	&__item {
		&-image {
			border: 3px solid $brand-primary;
		}
		&-header {
			h3 {
				font-weight: 200;
			}
			&_info {
				font-weight: 200;
			}
		}
		&__author {
			&-image {
				img {
					border: 3px solid $brand-primary;
					border-style: solid;
				}
			}
		}
	}
}

.blog-item {
	&__related {
		&-image {
			border: 3px solid $brand-primary;
		}
	}
}